    <!-- hello world -->
        <section>
    
           
            <nav class="navbar navbar-expand-lg navbar-light bg-dark" style = "position:fixed ; z-index:10;top:0px;width:100%;">
                <a class="navbar-brand" style="color:white ;" href="#"> Blog World</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link btn btn-warning my-2 my-sm-1  py-1 px-4 mr-3" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link nav-link btn btn-warning my-2 py-1 my-sm-1 px-3 mr-3" href="/blogs">Blogs <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link nav-link btn btn-warning my-2 py-1 my-sm-1 px-3 mr-3" href="/create">Create <span style="margin-left: 10px;">+</span><span class="sr-only">(current)</span></a>
                      </li>
                    <li class="nav-item active">
                        <a class="nav-link nav-link btn btn-warning my-2 py-1 my-sm-1 px-3 mr-3" href="#">Categories<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link nav-link btn btn-warning my-2 py-1 my-sm-1 px-3 mr-3" href="#">Contact US<span class="sr-only">(current)</span></a>
                      </li>
                    </li>
              
                  </ul>
                  <form class="form-inline my-2 my-lg-0" action="/home" method="get">
                    <input class="form-control mr-sm-2 col-6 mr-1" type="text" placeholder="Search" name="category" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0 col-5" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        </section>