
<%- include("./partials/header.ejs")%>
<%- include("./partials/navbar.ejs")%>

<div class=" title-categ" >Select A Category To View Blogs</div>
<div class="main-cat">
    <a class=" cat" href="/home?category=literature">Literature</a>
    <a class=" cat" href="/home?category=food">Food</a>
    <a class=" cat" href="/home?category=fashion">Fashion</a>
    <a class=" cat" href="/home?category=photography" >Photography</a>
    <a class=" cat" href="/home?category=lifestyle" >LifeStyle</a>
    <a class=" cat" href="/home?category=travel"> Travel blogs</a>
    <a class=" cat" href="/home?category=technology" >Technology</a>
    <a class=" cat" href="/home?category=cars">Cars</a>
    <a class=" cat" href="/home?category=future" >Future</a>
    <a class=" cat " href="/home?category=other">Other</a>

</div>
</body>
</html>